
@font-face {
    font-family: 'gogolef';
    src: url('/JosefinSlab-VariableFont_wght.ttf');
}


.codywork{
    transform-origin: top;
    transform: translateY(0);
    animation: moveAni 1.5s ease-in-out forwards;
}

@keyframes moveAni {
    0% {
        transform:translateY(0);
    }
    100% {
        transform: translateY(200px);
    }
}
.codyworkout{
    transform-origin: top;
    transform: translateY(0);
    animation: moveoutAni 1.5s ease-in-out forwards;
}

@keyframes moveoutAni {
    100% {
        transform:translateY(0);
    }
    0% {
        transform: translateY(200px);
    }
}


#introduction{
    top: 18vh;
    position: absolute;
    z-index: 1;
    padding: 20px;
    background-color: rgba(70, 70, 70, 0.682);
    transform-origin: bottom;
    transform: translate(100%);
    opacity: 0;
    animation: scaleAni 1.5s ease-in-out forwards;
}

@keyframes scaleAni {
    0% {
        transform:translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#introductionOut{
    /* transform-origin: bottom;
    transform: translate(100%); */
    animation: introductionoutAni 1.5s ease-in-out forwards;
}

@keyframes introductionoutAni {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;;
    }
}

.textstyle{
    font-family: 'gogolef';
    font-weight: bold;
}

#playbtn:hover{
    transform: scale(1.7);
    background-color: rgba(194, 5, 37, 0.682);
}

#borderImg{
    border-image: url('/Vec_border.png') 50 stretch;
    border-bottom: 20px solid transparent;
}

@media screen and (max-width:700px) {
    #introduction{
    position: relative;
    }
}